h1,h2{
    background-color: antiquewhite;
    color: blue;

}
.contanoer{
    height: 600px;
    
    background-image: url("/images/sanku.webp");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    background-position: bottom;
    
}

#container2{
    background: fixed no-repeat top url(/images/nature.jpg);
}
body{
    background-color: aqua;
}